.event {
    border: 1px solid black;
    height: 300px;
    width: 100%;
    display: flex;
    flex-direction: column;

    &__title {
        border-bottom: 1px solid black;

        &__text {
            padding-left: $padding-gap;
        }
    }

    &__list {
        padding-left: 0px;
        list-style: none;
        margin: 0;
        flex-grow: 1;
        overflow: auto;

        &__item {
            padding: $padding-text-gap $padding-gap;
            background-color: $item-bk-color;
            border-bottom: 1px solid black;
            cursor: pointer;


            &:hover,
            &--selected {
                background-color: $item-selected-color;
            }
        }
    }

}