.event {
    border: 1px solid $border-normal-color;
    height: 300px;
    width: 100%;
    display: flex;
    flex-direction: column;
    border-radius : 5px;
    box-shadow: 0 3px 5px 2px rgba(255, 105, 135, .3);

    &__title {
        background-color: $title-bk-color;
        border-bottom: 1px solid $border-normal-color;
        color: $title-text-color;
        &__text {
            padding-left: $padding-gap;
        }
    }

    &__list {
        padding-left: 0px;
        list-style: none;
        margin: 0;
        flex-grow: 1;
        overflow: auto;

        &__item {
            padding: $padding-text-gap $padding-gap;
            background-color: $item-bk-color;
            border-bottom: 1px solid $border-normal-color;
            cursor: pointer;


            &:hover,
            &--selected {
                background-color: $item-selected-color;
            }
        }
    }

}