.main {
    width: $main-width;
    height: $main-height;
    display: flex;
    flex-direction: column;
    padding-bottom: $padding-gap;

    &__header {
        display: flex;
        margin-top: $margin-top;
        margin-bottom: $margin-gap;
    }

    &__content {
        flex-grow: 1;
        overflow: hidden;
        height: $content-height;
        display: flex;
        flex-wrap: wrap;
        border: 1px solid $border-normal-color;
        box-shadow: 0 2px 3px 1px rgba(255, 105, 135, .3);
        border-width: 1px 0 0 1px;
        position: relative;

        &__item {
            display: flex;
            justify-content: center;
            background-color: $item-bk-color;
            align-items: center;
            border: 1px solid $border-normal-color;
            border-width: 0 1px 1px 0;
            user-select: none;

            &__img {
                cursor: pointer;
                max-width: 100%;
                max-height: 100%;
            }

            // 填滿 scope
            &--full {
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
            }

            &--col1 {
                width: 100%;
                height: 100%;
            }

            &--col4 {
                width: 50%;
                height: 50%;
            }

            &--col9 {
                width: 33.33333%;
                height: 33.33333%;
            }

            &--col16 {
                width: 25%;
                height: 25%;
            }

            &--selected {
                background-color: $item-selected-color;
            }
        }
    }
}