// width height
$wrap-width : 960px;
$device-width : 25%;
$main-width : 75%;

$main-height: 600px;

// padding
$padding-gap :12px;
$padding-text-gap:6px;


// color
$text-hover-color : #928845;
$item-bk-color :#f4f1de;


// font-size
$nomal-size : 18px;